@page "/Communication"
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@using Microsoft.AspNetCore.Authorization
@using ralsei_bot_discord.Types
@using RalseiBot.Web.Components.Widgets
@implements IAsyncDisposable
@inject ILogger<Communication> Logger
@inject GeneralSharedState SharedState
@inject IJSRuntime Js

@attribute [Authorize]


@* ReSharper, it is not the time to bitch about something that Blazor actually requires. *@
@* ReSharper disable MemberCanBePrivate.Global *@

@code {

    /// <summary>
    ///     The HTTP Client connected to the bot.
    /// </summary>
    private HttpClient? _client;

    /// <summary>
    ///     All the channels that the bot can reference.
    /// </summary>
    [PersistentState(AllowUpdates = true)]
    public List<ChannelData>? Channels { get; set; }

    /// <summary>
    ///     The selected ID that the user has selected from the list.
    /// </summary>
    public ulong SelectedId { get; set; }

    /// <summary>
    ///     Is the API busy?
    /// </summary>
    private bool _apiBusy;

    /// <summary>
    ///     If the API is busy loading tasks, this boolean will be set to true.
    /// </summary>
    private bool BusyLoading => Channels == null || !Channels.Any() || _apiBusy;

    /// <summary>
    ///     When the bot initializes, initialize the first guild immediately.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        _client = ClientFactory.CreateClient("RalseiBotBackend");

        await SharedState.CheckGuilds(_client);
        SelectedId = SharedState.CurrentGuilds.First().Id;

        // Attempt to retrieve all guild data.
        // While receiving the data, display the loading throbber for the user so they don't spam the API with too many requests,
        // which would result in a rate limit.

        if (Channels != null)
            return;

        await CreateChannelsGuild(SelectedId);
    }

    /// <summary>
    ///     Create the channels for the user to interact with.
    /// </summary>
    /// <param name="guildId">The ID of the guild.</param>
    private async Task CreateChannelsGuild(ulong guildId)
    {
        if (_client == null)
            return;
        try
        {
            _apiBusy = true;
            Channels = await _client.GetFromJsonAsync<List<ChannelData>>($"Guild/channels/{guildId}");
        }
        finally
        {
            _apiBusy = false;
        }
    }

    /// <summary>
    ///     Reload the channel list with the current selected channel ID.
    /// </summary>
    private async Task ReloadChannelList()
    {
        await CreateChannelsGuild(SelectedId);
    }

    private async Task ExecuteClipboard(ulong guildId)
    {
        await Js.InvokeVoidAsync("navigator.clipboard.writeText", guildId);
    }

    public async ValueTask DisposeAsync()
    {
        if (_client is IAsyncDisposable clientAsyncDisposable)
            await clientAsyncDisposable.DisposeAsync();
        else
        {
            _client?.Dispose();
        }
    }

}

@* ReSharper restore MemberCanBePrivate.Global *@


<div>
    <p class="horizontal-alignment">
        <ImgIcon AssetLocation="@Assets["icons/info.png"]"/>
        A portal is a DM, Server Message and practically any kind of message the Bot User can receive. Select one down
        below.
    </p>


    <div class="channel-selection-panel bg-cover">
        @if (!BusyLoading)
        {
            <div class="horizontal-alignment">
                <InputSelect name="PortalSelectionBox" @bind-Value="SelectedId" class="btn">
                    @foreach (var guild in SharedState.CurrentGuilds)
                    {
                        <option value="@guild.Id">@(guild.Name)</option>
                    }
                </InputSelect>
                <button class="btn" @onclick="ReloadChannelList">To Portal</button>
                @* Add to clipboard *@
                <button class="btn-no-back"
                        @onclick="async () => { if (Channels != null) await ExecuteClipboard(Channels.First().GuildId); }">
                    <ImgIcon AssetLocation="@Assets["icons/message/clipboard.png"]"/>
                </button>
            </div>

            @* Channel selection section *@
            @if (Channels != null)
            {
                foreach (var channel in Channels)
                {
                    <div class="channel-button">
                        <a href="/Communication/@channel.GuildId/Channel/@channel.ChannelId" class="channel-identifier">
                            <img
                                src="@Assets[channel.TypeChannel == ChannelType.Text ? "icons/text_channel.png" : "icons/voice_channel.png"]"
                                alt="Channel Type Icon"
                                width="16"
                                height="16"/>
                            @channel.ChannelName
                        </a>
                        @if (_client != null)
                        {
                            <ActionPanel Client="_client" Id="@(channel.ChannelId)"/>
                        }
                    </div>
                }
            }
        }
        else
        {
            <LoadingThrobber ConnectionString="Loading Channels..."/>
        }
    </div>
</div>