@page "/"
@using System.Text.Json
@using Microsoft.AspNetCore.Authorization
@using ralsei_bot_discord.Types
@using RalseiBot.Web.Components.Widgets
@inject ILogger<Home> Logger
@inject IHttpClientFactory ClientFactory
@attribute [Authorize]

@code
{
    private HttpClient? Client { get; set; }
    private InformationData? _data;

    protected override async Task OnInitializedAsync()
    {
        // Attempt to fetch the general information that the bot needs.
        Client = ClientFactory.CreateClient("RalseiBotBackend");
        _data = await Client.GetFromJsonAsync<InformationData>("Information");
        Logger.LogInformation("Displaying data {Data} to information panel", JsonSerializer.Serialize(_data));
    }
}

<!-- Information Panel Section: Displays information about the bot -->
<div class="information-panel bg-cover">
    <p class="information-label">
        <img src="@Assets["icons/info.png"]" alt="Information" width="32" height="32" draggable="false"/>
        Information about your Ralsei.
    </p>


    @if (_data != null)
    {
        // This displays the general information for the bot's current state.
        // These are basic information about what the bot is doing.
        <ul>
            <li>
                Total Guilds: @(_data?.GuildCount)
                <ul>
                    @foreach (var guildInformation in _data?.GuildInformation!)
                    {
                        <!-- Guild name and Guild ID displayed -->
                        <li>@(guildInformation.GuildName)
                            <em>
                                (@(guildInformation.GuildId))
                            </em>
                            <!-- If the specified guild included all the permissions for Ralsei? -->
                            <p class="align-center"
                               style="background-color: @(guildInformation.HasPermissions ? "green" : "red")">
                                @(guildInformation.HasPermissions ? "Active" : "No Permissions")
                            </p>
                        </li>
                    }
                </ul>
            </li>
            Current User Session: @(_data?.UserInformation)
        </ul>
    }
    else
    {
        <LoadingThrobber ConnectionString="Loading Base Information..."/>
    }
</div>