@page "/Database"
@using Microsoft.AspNetCore.Authorization
@using ralsei_bot_discord.Types.Database
@using RalseiBot.Web.Components.Widgets
@inject IHttpClientFactory ClientFactory
@inject GeneralSharedState SharedState
@inject IJSRuntime Js
@attribute [Authorize]
@rendermode InteractiveServer

@* ReSharper disable MemberCanBePrivate.Global *@

@code {
    private HttpClient? _httpClient;

    /// <summary>
    ///     This is a boolean that says if the Database is alive and functional.
    /// </summary>
    private bool _databaseIsOk;

    /// <summary>
    ///     If the database is busy fetching something.
    /// </summary>
    private bool FetchingDatabaseInformation => TrustData == null && GuildData == null;

    /// <summary>
    ///     Data from the Trust DB API.
    /// </summary>
    [PersistentState]
    public List<TrustData>? TrustData { get; set; }


    /// <summary>
    ///     The current guild data that the database holds.
    /// </summary>
    [PersistentState]
    public List<GuildData>? GuildData { get; set; }

    /// <summary>
    ///     This is the database request model for the trust database.
    /// </summary>
    private readonly TrustRequestData _trustDataModel = new();


    protected override async Task OnInitializedAsync()
    {
        _httpClient = ClientFactory.CreateClient("ralseibotbackend");
        if (bool.TryParse(await _httpClient.GetStringAsync("DatabaseChecker"), out var result))
            _databaseIsOk = result;

        // Load all the database entries that are required.
        if (!FetchingDatabaseInformation)
            return;

        await ReloadTrustDbEntries();
        await ReloadserverdbEntries();
    }

    /// <summary>
    ///     Reload the trust database entries.
    /// </summary>
    private async Task ReloadTrustDbEntries()
    {
        TrustData = await _httpClient?.GetFromJsonAsync<List<TrustData>>("TrustDb/")!;
    }

    private async Task ReloadserverdbEntries()
    {
        GuildData = await _httpClient?.GetFromJsonAsync<List<GuildData>>("serverdb")!;
    }

    /// <summary>
    ///     Add an entry to the database trust entry.
    /// </summary>
    private async Task AddTrustDbEntry()
    {
        if (_httpClient == null)
            return;

        var result = await _httpClient.PostAsJsonAsync("TrustDb", _trustDataModel);

        if (result.IsSuccessStatusCode)
            await ReloadTrustDbEntries();
    }

    /// <summary>
    ///     Delete an entry from the trust database.
    /// </summary>
    /// <param name="userId">The ID to reference when deleting.</param>
    private async Task DeleteTrustDbEntry(long userId)
    {
        // If the user confirms to delete it,
        // Delete the entry.

        if (_httpClient == null)
            return;

        var message = new HttpRequestMessage(HttpMethod.Delete, "TrustDb")
        {
            Content = JsonContent.Create(new TrustRequestData
            {
                UserId = userId
            })
        };
        var result = await _httpClient.SendAsync(message);
        if (result.IsSuccessStatusCode)
            await ReloadTrustDbEntries();
    }

}

@* ReSharper restore MemberCanBePrivate.Global *@

@if (FetchingDatabaseInformation)
{
    <LoadingThrobber ConnectionString="Executing Database Actions..."/>
}
else
{
    @* Display database cluster information, since we have a cluster of databases. *@
    <p class="horizontal-alignment">
        <ImgIcon AssetLocation="@Assets["icons/warning.png"]"/>
        Database Cluster is @(_databaseIsOk ? "Functional" : "Broken. Check your SQL Server Immediately!")
    </p>

    @* Easter Egg. *@
    @if (Random.Shared.Next(0, 20) == 0)
    {
        <p class="horizontal-alignment aqua-text">
            <ImgIcon AssetLocation="@Assets["funstuff/aqua_wave.gif"]"/>
            Uuuu! What's a database?
        </p>
    }
}


@* Trusted User Database *@
<div class="table-container bg-cover">
    <h3>Trusted Users</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>User ID</th>
            <th>Actions</th>
        </tr>
        @if (TrustData != null)
        {
            foreach (var data in TrustData)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.UserId</td>
                    <td>
                        <button class="btn-no-back" @onclick="() => DeleteTrustDbEntry(data.UserId)">
                            <ImgIcon AssetLocation="@Assets["icons/delete.png"]"></ImgIcon>
                        </button>
                    </td>
                </tr>
            }
        }
    </table>
    <p>@(TrustData?.Count) items in Database.</p>
    @* This code allows the addition to the trusted user database. *@
    <EditForm Model="_trustDataModel" class="bottom-addition" OnSubmit="@AddTrustDbEntry">
        <label>
            <InputNumber class="btn" @bind-Value="_trustDataModel.UserId"
                         placeholder="User Id of the user to trust..."/>
        </label>
        <button class="btn" type="submit">Add to Database</button>
    </EditForm>
    <p class="horizontal-alignment">
        <ImgIcon AssetLocation="@Assets["icons/info.png"]"/>
        Each entry is a TRUSTED USER. This means that this user, even if their account is really new, they are trusted.
    </p>
</div>
@* Guild Information Database*@
<div class="table-container bg-cover">
    <h3>Guild Information</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Guild</th>
            <th>Ralsei</th>
            <th>General</th>
            <th>Moderation</th>
        </tr>
        @if (GuildData != null)
        {
            @foreach (var data in GuildData)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    @* This is where there are hotlinks to each channel for easy access in the database. *@
                    <td>
                        <a href="/Communication/@data.GuildId/Channel/@data.RalseiChannelId" class="btn">Enter Ralsei
                            Channel</a>
                    </td>
                    <td>
                        <a href="/Communication/@data.GuildId/Channel/@data.GeneralChannelId" class="btn">Enter General
                            Channel</a>
                    </td>
                    <td>
                        <a href="/Communication/@data.GuildId/Channel/@data.ModerationChannelId" class="btn">Enter
                            Moderation Channel</a>
                    </td>
                </tr>
            }
        }
    </table>
    <p>@(GuildData?.Count) items in Database.</p>
    <p class="horizontal-alignment">
        <ImgIcon AssetLocation="@Assets["icons/info.png"]"/>
        This database is automatically configured by <em>GuildDatabasePrepHandler</em> and doesn't have to be
        configured.
    </p>
</div>