@page "/Moderation"
@using Microsoft.AspNetCore.Authorization
@using ralsei_bot_discord.Types
@using ralsei_bot_discord.Types.Database
@using RalseiBot.Web.Components.Widgets
@attribute [Authorize]
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@inject GeneralSharedState SharedState



@code {

    public class WarningDbDataMerger
    {
        /// <summary>
        ///     User data.
        /// </summary>
        public required UserData UserData { get; set; }

        /// <summary>
        ///     Warning DB data.
        /// </summary>
        public WarningData? WarningData { get; set; }
    }

    /// <summary>
    ///     The HTTP Client.
    /// </summary>
    private HttpClient? HttpClient { get; set; }

    /// <summary>
    ///     The current selected ID.
    /// </summary>
    public ulong SelectedId { get; set; }

    /// <summary>
    ///     All users.
    /// </summary>
    [PersistentState(AllowUpdates = true)]
    public List<WarningDbDataMerger>? Users { get; set; }

    /// <summary>
    ///     Is the API busy?
    /// </summary>
    private bool _apiBusy;

    protected override async Task OnInitializedAsync()
    {
        HttpClient = ClientFactory.CreateClient("RalseiBotBackend");
        await SharedState.CheckIfImported(HttpClient);

        SelectedId = SharedState.CurrentGuilds.First().Id;

        // Attempt to list all users on startup.
        if (Users != null)
            return;

        await ListAllUsers();
    }

    /// <summary>
    ///     Attempt to list all users in the database.
    /// </summary>
    private async Task ListAllUsers()
    {
        if (HttpClient == null)
            return;

        try
        {
            _apiBusy = true;
            var currentUserData = await HttpClient.GetFromJsonAsync<List<UserData>>($"Guild/users/{SelectedId}");
            var currentModerationData = await HttpClient.GetFromJsonAsync<List<WarningData>>("WarningDb");
            if (currentUserData == null || currentModerationData == null)
                return;

            Users = currentUserData
                .Where(data => !data.IsBot)
                .Select(data => new WarningDbDataMerger
                {
                    UserData = data,
                    WarningData = currentModerationData.FirstOrDefault(warningData => warningData.UserId == data.Id)
                })
                .ToList();
        }
        finally
        {
            _apiBusy = false;
        }
    }

}

@* Slight reminder. *@
<p class="bg-cover horizontal-alignment">
    <ImgIcon AssetLocation="@Assets["icons/halt.png"]"/>
    This, being the moderation section will be the one to ask you the most confirmations since it involves users.
</p>

<div class="bg-cover">
    @if (!_apiBusy)
    {
        <div class="horizontal-alignment">
            <InputSelect class="btn" @bind-Value="SelectedId">
                @foreach (var guild in SharedState.CurrentGuilds)
                {
                    <option value="@guild.Id">@guild.Name</option>
                }
            </InputSelect>
            <button class="btn" @onclick="ListAllUsers">Go To Portal</button>
        </div>
        <div class="user-group">
            @if (Users != null)
            {
                foreach (var user in Users)
                {
                    <div class="horizontal-alignment">
                        <img class="profile-picture" src="@user.UserData.ProfilePictureLink" alt="Profile Picture"
                             width="64"
                             height="64"/>
                        <p>@user.UserData.DisplayName</p>
                        <em class="half-visible">(@user.UserData.Id)</em>
                        @if (user.WarningData == null)
                        {
                            <p>No Warnings</p>
                        }
                        else
                        {
                            <p>(@user.WarningData.WarningCount number of warnings.)</p>
                        }
                        @* Actions you can take *@
                        <button class="btn-no-back">
                            <ImgIcon AssetLocation="@Assets["icons/moderation/kick.png"]"/>
                        </button>
                        <button class="btn-no-back">
                            <ImgIcon AssetLocation="@Assets["icons/moderation/ban.png"]"/>
                        </button>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <LoadingThrobber ConnectionString="Loading Moderation DB.."/>
    }
</div>